body {
    text-align: center;
    background-color: rgb(66, 209, 228);
    font-family: Arial, sans-serif;
}

h1{
    color:rgb(56, 58, 212);
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: rgb(64, 64, 236);
    color:aliceblue
}

.result {
    margin-top: 20px;
    font-size: 20px;
}