body {
    text-align: center;
    background-color: rgb(66, 209, 228);
    font-family: Arial, sans-serif;
}

h1{
    color:rgb(56, 58, 212);
}

button {
    width: 300px;
    padding: 20px;
    font-size: 28px;
    background-color: rgb(64, 64, 236);
    color:aliceblue;
    border : none;
    border-radius:10px;
    cursor:pointer;
}

.result {
    margin-top: 40px;
    font-size: 40px;
}